
.background {
    -fx-background-color: #1d1d1d;
}

/* DialogPane */
.alert{
    -fx-background-color: #1a1a1a;
}
.alert:header *.header-panel{
    -fx-background-color: #1d1d1d;
}


.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-data {
	-fx-font-size: 13pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.label-time {
	-fx-font-size: 22pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #FFB90F;
    -fx-opacity: 1;
}
/* 
 * List View ******** 
 * 
 * */
 
.list-cell{
    -fx-background-color: #1d1d1d ;
    -fx-text-fill: white;

}

.list-cell:odd{
    -fx-background-color: #3d3d3d ;
}

.list-cell:selected{
    -fx-background-color: lightslategray ;
}

.list-cell:empty{
	/*-fx-background-color: #1d1d1d ;
*/}


/* 
 * Table View ******** 
 * 
 * */
.table-view {
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-background-color: #1d1d1d;
/*    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
 */
    -fx-padding: 5;
}
.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-background-color: transparent, derive(#1d1d1d,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#1d1d1d,20%);
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}

.menu-bar .label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}


/*
 *     Statusrow  ********* 
 * 
 * */
.text-field-status {
	-fx-background-color: #1a1a1a;
    -fx-font-size: 09pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* 
 *    Text Field ********* 
 * 
 * */
.text-field {
	-fx-background-color: gainsboro ;
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* datePicker  */
.date-picker-popup > .month-year-pane {
    -fx-background-color: black; 
	-fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold"; 
}

/* 
 * Metro style Push Button
 */
.button {
    -fx-padding: 5 12 5 12;   
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.button-start {
	-fx-background-color: #1d1d1d;
    -fx-text-fill: #66CDAA;
    -fx-font-size: 12pt;
}
.button-start:hover {
    -fx-background-color:  #3a3a3a;
}

.button-play {
	-fx-background-color: #1d1d1d;
    -fx-text-fill: #66CDAA;
    -fx-font-size: 14pt;
}
.button-play:hover {
	
    -fx-background-color:  #3a3a3a;
}
.button-pause{
	-fx-background-color: #1d1d1d;
    -fx-text-fill: #c1cf63;
    -fx-font-size: 14pt;
}
.button-pause:hover {	
    -fx-background-color:  #3a3a3a;
}
.button-stop {
	-fx-border-color: #CD5555;
	-fx-text-fill: #CD5555;
	}



/**
 *   ComboBox
 */

.combo-box .list-cell 
{
    -fx-background: #1a1a1a;
/*     -fx-background-color: transparent; */
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-font-size: 11pt
}
 
.combo-box-popup .list-view 
{
    -fx-background-color: #1a1a1a, #1a1a1a;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell 
{
	-fx-text-fill: white;
    -fx-padding: 6 2 6 2;

    /* No alternate highlighting */
    -fx-background-color: #1a1a1a;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover 
{
    -fx-background: -fx-accent;
    -fx-background-color: -fx-selection-bar;
    -fx-text-fill: -fx-selection-bar-text;
}

.combo-box-popup .list-view .list-cell:filled:hover 
{
    -fx-background-color: #c0c0c0;
    -fx-text-fill: -fx-text-inner-color;
}

/** 
 *  BarChart ******
 */
 
 /*
 .chart{
 	
 }
 */
 
 .chart-plot-background {
    -fx-background-color: #1d1d1d;  /* #FFFFFF; */ 
}

 /*
 .chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
*/

 
 .chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}
 
.chart-legend-item-symbol{
   -fx-background-radius: 0;
}
 
.chart-legend-item{
    -fx-text-fill: white;
}

